@model PetaPoco.Page<Product>
@using MobileShopConnection
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Create", "Product")" class="btn btn-block btn-primary btn-lg">New product</a>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Products</h3>
                </div>
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].ProductTypeID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].ProducerID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].Sold)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].Viewed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Items[0].Description)
                                </th>
                                <th class="col-md-4"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@Html.Partial("_Product", (ViewBag.Projects as List<Product>))*@
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductTypeID</td>
                                    <td>@item.ProducerID</td>
                                    <td>@item.Price</td>
                                    <td>@item.Sold</td>
                                    <td>@item.Viewed</td>
                                    <td>@item.Date</td>
                                    <td>@Html.Raw(item.Description)</td>
                                    <td>
                                        <div class="blockquote-reverse">
                                            <a href="@Url.Action("Update","Product",new { @id=item.ProductID})" class="btn btn-warning btn-xs text-center"><i class="fa fa-fw fa-fw fa-edit"></i> Edit</a>
                                            <a href="@Url.Action("Delete","Product",new { @id=item.ProductID})" class="btn btn-danger btn-xs text-right"><i class="fa fa-fw fa-remove"></i> Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li><a href="@Url.Action("Index","Product", new { page=i})">@i</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>