@model MobileShopConnection.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    @section head{
        @Styles.Render("~/Assets/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
        <title>Admin | Create product</title>
    }
    var msg = TempData["msg"];
    var icon = TempData["icon"];
    var x = TempData["x"];
}

@if (msg != null)
{
    <div class="alert alert-@x alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-@icon"></i> Info</h4>
        @msg
    </div>
}

<div class="container-fluid">
    <h2>Create new product</h2>

    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control col-md-2", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("ProductTypeID", null, htmlAttributes: new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ProductTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProducerID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("ProducerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProducerID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2", @required = "required" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type="number", @min="0"} })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("Quantity", ViewData["list"] as List<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @*editor*@
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">
                                Type here
                            </h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body pad">
                            <form>
                                @Html.TextAreaFor(model => model.Description, new { @id="editor1", @name = "editor1", @style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </form>
                        </div>
                    </div>
                    @*End editor*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            <input type="file" name="file1" multiple accept="image/*" class="filestyle" data-buttonBefore="true" data-buttonName="btn-primary"/>
                            @*<input type="file" name="file2" accept="image/*"/>*@
                            @Html.ValidationMessageFor(model => model.ImageURL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
             </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", "Product")
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Assets/Admin/dist/js/demo.js",
                    "~/Assets/Admin/plugins/fastclick/fastclick.js",
                    "https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js",
                    "~/Assets/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
    <script>
      $(function () {
        CKEDITOR.replace('editor1');
        $(".textarea").wysihtml5();
      });
    </script>
    @Html.AntiForgeryToken();
}